# Ignore node_modules directory
node_modules/

# Ignore build artifacts
build/
dist/

# Ignore logs and cache files
logs/
*.log
*.swp

# Ignore environment files
.env

# Ignore editor configuration files
.idea/
.vscode/

# Ignore compiled binary files
*.o
*.out
*.exe

# Ignore package-lock.json for npm
package-lock.json

# Ignore .DS_Store files on macOS
.DS_Store
